@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center container-sm">
    <h1 class="display-4">Uma agência que faz seus consumidores e empregados felizes!</h1>
    <div class="container">
  <div class="row">
    <div class="col m-2">
      <img src="./mountain.jpg" class="img-fluid" alt="...">
    </div>
    <div class="col m-2">
      <img src="./india.jpg" class="img-fluid" alt="...">
    </div>    
  </div>
  <div class="row">
    <div class="col m-2">
      <img src="./dubai.jpg" class="img-fluid" alt="...">
    </div>
    <div class="col m-2">
      <img src="./abacaxi.jpg" class="img-fluid" alt="...">
    </div>    
  </div>
</div>

</div>
